Fanny Sjöström <fannysjsj@outlook.com> <fannysj@chalmers.se> <93663750+fannysj@users.noreply.github.com>
Sandra Hawerman <93663377+havreman@users.noreply.github.com>
Maja Larsson <larssonmaja23@gmail.com>
Nadine Lindén Malmberg <93657902+nadinelindenmalmberg@users.noreply.github.com> <nadine.linden.malmberg@gmail.com>
